<div class="card m-3">
  <h5 class="card-header">Jai Baba Ki Reactive Form</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-row">
        <!-- 1 start -->
        <div class="form-group col">
          <title>Title</title>
          <select formControlName="title" class="form-control" [ngClass]="{'is-invalid':submitted && f.title.errors}">
            <option value="">Please Select</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is Required.</div>
          </div>
        </div>

        <!-- end 1 -->

        <!-- start 2 -->
        <div class="form-group col-5">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{'is-invalid':submitted && f.firstName.errors}">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required.</div>
          </div>
        </div>
        <!-- start 2 -->

        <!-- 3 -->
        <div class="form-group col-5">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{'is-invalid':submitted && f.lastName.errors}">
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feeback">
            <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
          </div>
        </div>
      </div>
      <!-- 3 -->

      <!-- 4 -->
      <div class="form-row">
        <div class="form-group col">
          <label for="">Date of Birth</label>
          <input type="date" formControlName="dob" class="form-control"
            [ngClass]="{'is-invalid':submitted && f.dob.errors}">
          <div class="invalid-feedback" *ngIf="submitted && f.dob.errors">
            <div *ngIf="f.dob.errors.required">Date of birth is required.</div>
            <div *ngIf="f.dob.errors.pattern">Date is must in format YYY-MM-DD</div>
          </div>
        </div>

        <!-- 5 -->
        <div class="form-group col">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{'is-invalid':submitted && f.email.errors}">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is Required.</div>
            <div *ngIf="f.email.errors.email">Email must be a valid emailaddress</div>

          </div>
        </div>
      </div>
      <!-- 5 -->

      <!-- 6 -->
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{'is-invalid':submitted && f.password.errors}" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required.</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 character.</div>
          </div>
        </div>
        <!-- 6 -->

        <!-- 7 -->
        <div class="form-group col">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
            [ngClass]="{'is-invalid':submitted && f.confirmPassword.errors}" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required.</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Password must match.</div>
          </div>
        </div>
      </div>
      <!-- 7 -->

      <!-- gender -->
      <div class="form-group">
        <label>Gender:</label><br>
        <input type="radio" class="m2-2" name="gender" style="margin-left: 3px;"
          [ngClass]="{'is-invalid':submitted && f.gender.errors}" (click)="chooseGender('Male')">Male
        <input type="radio" class="ml-2" name="gender" style="margin-left: 3px;"
          [ngClass]="{'is-invalid':submitted && f.gender.errors}" (click)="chooseGender('Female')">Female
        <input type="radio" class="ml-2" name="gender" style="margin-left: 3px;"
          [ngClass]="{'is-invalid':submitted && f.gender.errors}" (click)="chooseGender('Other')">Other
        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
          <div *ngIf="f.gender.errors.required">Gender is required.</div>

        </div>


      </div>



      <div>

      </div>
      <!-- Qualification -->
      <div class="form-group">
        <label>Qualifications:</label><br>
        <select name="" id="" formControlName="selectQualification" (change)="selectQualification($event)">
          <option value="Please Select" selected>Please Select </option>
          <option value="High School">High School</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Graduation">Graduation</option>
          <option value="Post Graduation">Post Graduation</option>



        </select>


      </div>

      <!-- Address -->
      <div class="form-group">
        <h6>Enter your address:</h6>
        <textarea formControlName="address" style="width: 1300px;height: 100px;"
          [ngClass]="{'is-invalid':submitted && f.address.errors}" placeholder="Enter Your Address"></textarea>
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required.</div>

        </div>
      </div>

      <!-- 8 -->
      <div class="form-group form-check mt-2">
        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
          [ngClass]="{'is-invalid':submitted && f.acceptTerms.errors}">
        <label for="acceptTerms" class="form-check-label"> Accept Term and Conditions</label>
        <div *ngIf="submitted $$ f.acceptTerms.errors" class="invalid-feedback">Accept term and condition</div>
      </div>
      <!-- 8 -->
      <div class="text-center">
        <button class="btn btn-primary mr-1" style="margin-right: 20px;">Register</button>
        <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()"> Cancel</button>
      </div>

    </form>
    <div class="form-group">
      Title:<p>{{Title}}</p>
      FirstName:<p>{{FirstName}}</p>
      LastNAme:<p>{{LastName}}</p>
      Gender:<p>{{Gender}}</p>
      Password:<p>{{Password}}</p>
      confirmPassword:<p>{{ConfirmPAssword}}</p>
      Address:<p>{{address}}</p>
      Qualification:<p>{{SelectQualification}}</p>


    </div>
  </div>

</div>